---
import Logs from "../assets/About/Logistics.png";
import Ops from "../assets/About/Operations.png";
import SandO from "../assets/About/Social_and_Outreach.png";
import Sponsor from "../assets/About/Sponsorship.png";
import Tech from "../assets/About/Technical.png";
import Vid from "../assets/About/Video.png";
import AboutDomain from "../components/AboutDomain.astro";
import Design from "../assets/About/design.png";
import { Image } from "astro:assets";
const { img, title, content } = Astro.props;

const domains = [
  {
    title: "Technical",
    content:
      "The Technical Domain leads AI & ML education with hands-on workshops and insightful hackathons. They share valuable insights through engaging blogs, fostering continuous growth in the field",
    img: Tech,
  },
  {
    title: "Operations",
    content:
      "Facilitating event approvals through navigating bureaucratic procedures and ensuring compliance for seamless execution.",
    img: Ops,
  },
  {
    title: "Social and Outreach",
    content:
      "Promoting the club online, the team creates a vibrant digital presence and fosters community engagement through effective communication on social media platforms.",
    img: SandO,
  },
  {
    title: "Sponsorship",
    content:
      "Securing financial support and partnerships, the Sponsorship team builds relationships with sponsors aligned with the club's mission for sustainability and success.",
    img: Sponsor,
  },
  {
    title: "Logs",
    content:
      "Acquiring necessary resources, the Logistics team ensures all materials for events, from venues to equipment, are in place for success.",
    img: Logs,
  },
  {
    title: "Videography and Editing",
    content:
      "Capturing and editing event footage, the team creates compelling video content that represents the club's activities.",
    img: Vid,
  },
  {
    title:"Design",
    content: "Bringing creativity to life, the Designs team enhances the aesthetic and branding of events with visually appealing materials.",
    img:Design,
  },
];
---

<div class="flex flex-col gap-y-8 w-full">
  <section class="flex flex-col lg:flex-row-reverse w-full justify-between lg:">
    <section class="flex flex-col items-start">
      <div class="flex flex-row justify-center gap-2">
        <img
          src="/logo.png"
          alt="Aura Logo"
          height="30px"
          width="30px"
          class="rounded-none w-12 h-12 translate-y-1 translate-x-1"
        />
        <h1 class="text-left font-bold">bout Us</h1>
      </div>
      <div class="w-full py-6 flex flex-col">
        <div>
          Welcome to the CSE(AI&ML) Club, a dynamic community dedicated to
          exploring and advancing knowledge in Artificial Intelligence (AI) and
          Machine Learning (ML). Our focus is on cutting-edge technologies and
          practical applications. 1] Advancing AI and ML Knowledge: Our club
          serves as a central hub for enthusiasts and experts alike to deepen
          their understanding of AI and various facets of ML, fostering a
          collaborative environment for exploration. 2] Practical Skill
          Development: We prioritize hands-on learning through workshops,
          projects, and collaborative initiatives. Members gain practical skills
          in implementing ML algorithms, working with datasets, and tackling
          real-world problems. 3] Knowledge Sharing and Outreach: Integral to
          our mission is sharing ML knowledge beyond our community. We actively
          promote knowledge sharing through seminars, tutorials, and outreach
          programs, extending the impact of ML beyond our club members.
        </div>
      </div>
    </section>
  </section>
  <section>
    <h1 class="text-left font-bold">Domains</h1>
    <section class="grid grid-cols-1 lg:grid-cols-3 w-full gap-8 mt-20">
      {
        domains.map((domain) => (
          <AboutDomain
            title={domain.title}
            content={domain.content}
            img={domain.img}
          />
        ))
      }
      
    </section>
  </section>
</div>
