---
import PESULogo from "../../public/footer_pesu.png";
import AIMLLogo from "../../public/footer_aiml.png";
import { Image } from "astro:assets";
---

<head>
  <script src="https://kit.fontawesome.com/8e64ffa55c.js"></script>
</head>
<body>
  <footer>
    <section class="h-56 flex flex-row justify-between items-center p-8 mb-6">
      <Image
        src={AIMLLogo}
        alt="AIML Department"
        class="h-48 w-48 aspect-square object-contain"
      />
      <div class="social-icons text-primary">
        <a href="https://www.linkedin.com/company/aura-pesu/"
          ><i class="fa-brands fa-linkedin"></i></a
        >
        <a href="https://github.com/Aura-PESU"
          ><i class="fa-brands fa-github"></i></a
        >
        <a href="https://www.instagram.com/aura_pesu/"
          ><i class="fa-brands fa-instagram"></i></a
        >
        <a href="mailto: aura.rr@pes.edu"
          ><i class="fa-solid fa-envelope"></i></a
        >
      </div>
      <Image
        src={PESULogo}
        alt="PES University"
        class="h-48 w-48 aspect-square object-contain"
      />
    </section>
  </footer>
</body>

<style>
  .social-icons .fa-brands,
  .fa-solid {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    color: black;
  }
  .social-icons .fa-brands:hover,
  .fa-solid:hover {
    color: #50c878;
    /* color:#558839;	 */
  }
</style>
