---

---

<footer>
  <div class="bg-black h-56 text-white flex flex-warp">
    <div class="flex flex-wrap">
      <img src="../../public/footer_aura.png" class="w-48 h-28 mx-8 my-12" />
      <img src="../../public/footer_aiml.png" class="w-36 h-36 mx-8 my-12" />
      <img src="../../public/footer_pesu.png" class="w-36 h-36  my-12 px-8 border-r-2 border-green-500" />
    </div>
    <div id = "contact us" class ="border-x-2 border-y-2 border-green-600 my-2 mx-2">
      <div class = "text-green-600 text-xl" > 
        <h1 class = "2xl text-green-500 ml-20">
          Contact us:
        </h1>
        <p class="mx-20">
          <u>Department of aiml:</u> <br>
          Ph no:aiml@placeholder.cum<br>
          email: +91 696969969<br>
        </p>
      </div>
    </div>
  </div>
</footer>
